
.clear{
    clear: both;
}
.calendar{
    width: 350px;
    background: rosybrown; 
    }

.title{
    text-align: center;
    width: 350px;
    padding: 30px 0;
    background: lightblue;
    color: green;
}

.week{
    float: left;
    text-align: center;
    color: green;
    padding: 5px 0;
}

.week-name{
    float: left;
    color: green;
    background: palevioletred;
    width: 50px;
    padding: 5px 0;
}

.days{

    text-align: center;
    padding: 5px 0;
}

.day{
    float: left;
    text-align: center;
    width: 50px;
    padding: 5px 0;
}

.day-old-month{
    float: left;
    text-align: center;
    background: lightgray;
    width: 50px;
    padding: 5px 0;
}

.day-weekend{
    float: left;
    text-align: center;
    color:red;
    background: burlywood;
    width: 50px;
    padding: 5px 0;
}

.day-current{
    float: left;
    color: white;
    text-align: center;
    background: red;
    width: 50px;
    padding: 5px 0;
}