@import url('https://fonts.googleapis.com/css?family=Open+Sans|PT+Sans+Narrow&display=swap');

.wrapper{
    width: 1024px;
    margin: 0;
}

.clear{
    clear: both;
}

.header-menu{
    width: 1024px;
}
.header-logo img{
    width: 100px;
    height: 100px;
    top: 0;
    position:left;
    float: left;
}

.header-contacts{
    position: right;
    float: left;
}

.header-top{
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-family: 'PT Sans Narrow', sans-serif;
}

.main-content{
    min-height: 1000px;
    background:skyblue;
    float: left;
    width: calc(100% - 320px);
}

.aside-menu{
    background: burlywood;
    float: left;
    width: 300px;
    margin-right: 20px;
    padding-left: 20px;
    clear: both;
}

#header{
    background: rosybrown;
}

#main{
    background: gainsboro;
}

#footer{
    background: wheat;
}

.main-logo img{
    position: right;
    float: right; 
    padding-left: 5px; 
    padding-bottom: 5px; 
}

.futter-logo img{
    width: 100px;
    height: 100px;
    position: left;
    float: left; 
    padding-left: 5px; 
    padding-bottom: 5px; 
}

.menu, .inner-menu{
    padding: 0;
    margin: 0;
    list-style: none;
}

.inner-menu{
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background: pink;
}

.menu .inner-menu li{
    float: none;
}

.menu{
    background: silver;
    padding: 0px 20px;
    
}

.menu li{
    float: left;
    padding: 10px 20px;
    position: relative;
}

.menu li a{
    color: white;
    text-decoration: none;
}

.menu li:hover .inner-menu{
    display: block;
}

