.size{
    border: 1px solid black;
}

.box{
    border-collapse: collapse;
    width: 100%;
}

.wrapper{
    margin: 0 auto;
}

.title{
    caption-side: top; /*положения заголовка таблицы*/
    text-align: center; /*выравнивание текста*/
}

th{
    font-weight: normal;
}

td{
    text-align: top;
}

.box tbody tr:nth-child(1) td:nth-child(1){  
    border-right: 0;
    border-bottom: 0;
}

.box tbody tr:nth-child(1) td:nth-child(2){ 
    border-right: 0;
    border-left: 0;
}

.box tbody tr:nth-child(1) td:nth-child(3){ 
    border-left: 0;
    border-right-width: 4px; 
}

.box tbody tr:nth-child(2) td:nth-child(1){ 
    border-right: 0;
    border-top: 0;
}

.box tbody tr:nth-child(2) td:nth-child(2){ 
    border-right: 0;
    border-left: 0;
}

.box tbody tr:nth-child(2) td:nth-child(3){ 
    border-left: 0;
    border-right-width: 4px; 
}

.box tfoot tr:nth-child(1) td:nth-child(1){ 
    border-right: 0;
}

.box tfoot tr:nth-child(1) td:nth-child(2){ 
    border-right: 0;
    border-left: 0;
}

.box tfoot tr:nth-child(1) td:nth-child(3){ 
    border-left: 0;
    border-right-width: 4px; 
}

.box thead tr:nth-child(1) th:nth-child(1){  
    border-right-width: 4px; 
}

.box td{
    padding: 15p px
}


/* вирівнювання тексту в ячейках*/

.box tbody tr:nth-child(1) td:nth-child(4){ 
   text-align: right;
}
.box tbody tr:nth-child(1) td:nth-child(5){ 
    text-align: right;
 }
 .box tbody tr:nth-child(1) td:nth-child(6){ 
    text-align: right;
 }
 .box tbody tr:nth-child(1) td:nth-child(7){ 
    text-align: right;
 }

 .box tbody tr:nth-child(2) td:nth-child(4){ 
    text-align: right;
 }

 .box tbody tr:nth-child(2) td:nth-child(5){ 
    text-align: right;
 }

 .box tbody tr:nth-child(2) td:nth-child(6){ 
    text-align: right;
 }

 .box tbody tr:nth-child(2) td:nth-child(7){ 
    text-align: right;
 }

 .box tfoot tr:nth-child(1) td:nth-child(4){ 
    text-align: right;
 }
 .box tfoot tr:nth-child(1) td:nth-child(5){ 
    text-align: right;
 }
 .box tfoot tr:nth-child(1) td:nth-child(6){ 
    text-align: right;
 }
 .box tfoot tr:nth-child(1) td:nth-child(7){ 
    text-align: right;
 }



    
