
.desert{
    background: url(img/desert1.jpg) no-repeat;
    height: 800px;
    width: 100%;
    background-size: cover;
    
}

.svinks{
    background: url(img/svinks.png) no-repeat ;
    background-size: cover;
    height: 300px;
    width: 100px;
    bottom: 0;
    background-position: 

    
}

.piramida{
    background: url(img/piramida.png);
    background-size: cover;
    height: 300px;
    width: 100px;
    bottom: 0;
    background-position: 

}
.camel2{
    background: url(img/camel2.png);
    background-size: cover;
    height: 300px;
    width: 100px;
    bottom: 0;
    background-position: 

}
.NLO{
    background: url(img/NLO.png);
    background-size: cover;
    height: 300px;
    width: 100px;
    bottom: 0;
    background-position: 

}
.snake{
    background: url(img/snake.png);
    background-size: cover;
    height: 300px;
    width: 100px;
    bottom: 0;
    background-position: 

}
.pingvin{
    background: url(img/pingvin.png);
    background-size: cover;
    height: 300px;
    width: 100px;
    bottom: 0;
    background-position: 

}
.stars{
    background: url(img/stars.png);
    background-size: cover;
    height: 300px;
    width: 100px;
    bottom: 0;
    background-position: 

}