.products{
    border-collapse: collapse;
    /* отключакт расстояние между ячуйками */

    /* border-spacing: 10px; - расстояние между ячейками*/

    width: 100%;
}

.products caption{
    caption-side: bottom;
}

.products tbody tr:nth-child(1) td:nth-child(1){ /* тоже самое что :first-child */
    border-right: 0;
}
.products tbody tr:nth-child(1) td:nth-child(2){ /* тоже самое что :first-child */
    border-left: 0;
}
.products td{
    padding: 15px;
}

/* Рамки */

.border{
    width: 400px;
    height: 300px;
    background: purple;

    border: 4px solid red;

    border-width: 10px; /* толщина рамки */
    border-style: dotted; /* стиль по умолчанию*/
    border-color: blue; /* цвет рамки*/

    /*
        border: 4px solid red;
                4px solid red;
                4px solid red;
                4px solid red;

         можна задать стиль разный для всех 4 сторон. начиная с верхней и по часовой стрелки

        border-width: 4px; 5px; 6px; 7px;
        border-style: solid solid dotted dashed; 
        border-color: red blue green black; 
    */

    border-radius: 20px;
    /* принимае px/ % от длины стороны, начиная от угла*/
    border-radius: 10px 20px 30px 40px;
    /* начиная с левого верхнего и по часовой стрелки*/

    border-radius: 50% 40% 50% 50%;
 
    border-top-left-radius: 40px;

    border-radius: 30px/60px;

    /*
        border-top-righy-radius
        border-top-left-radiud
        border-b0ttom-right-radius
    */

    /* Тень для блока*/

    -webkit-box-shadow: -6px -8px 13px 0px rgba(255, 50, 50, 1);
    -moz-box-shadow:    -6px -8px 13px 0px rgba(255, 50, 50, 1);
    box-shadow:         -6px -8px 13px 0px rgba(255, 50, 50, 1);

    /*
    смещение_по_ширине смещение_по_высоте радиус_размытия растяжение цвет 
    box-shadow: inset -6px -8px 13px 0px rgba(255, 50, 50, 1);
    inset включает внутреннюю тень

    можно задавать через запятую сразу 2 тени, но одна из них должна быть inset
    box-shadow: inset -6px -8px 13px 0px rgba(255, 50, 50, 1), -6px -8px 13px 0px rgba(255, 50, 50, 1);

    */

    /* Тень для текста*/
    text-shadow: 5px 4px 0px rgba(0, 150, 150, 1);

    /*
        смещение_по_ширине смешение_по_высоте радиус_размытия цвет
    */
}

    .size{
        background: red;
        height: 200px;

    min-width: 400px; /*не может быть меньше 400px */
    max-width: 700px; /* не может быть больше 700px */max-height: ;

    min-height: 300px; /* не может быть меньше 300 px в высоту */
    max-height: 700px; /* не может быть больше 700 px в высоту */

} 
/*псевдоэлименты*/

.size::first-letter{
    font-size: 40px;
}

/*
применим только к блочным элементам
*/ 
.size::first-letter{
    text-decoration: underline;
}

/*
применим только к блочным элементам
*/

.size::before{
    content: "ПРИВЕТ"; /* Обязательное свойство!!! нужно хотябы обьявить пустым*/
    /* в контент можно передать текст или изображение через url()*/
}

.size::after{
    content: "ПОКА";
}

/*
before добавляет элемент в нача локонтекта
after - в конец контекта

color: transparent - прозрачный цвет
*/